[submodule "dependencies/libki"]
	path = dependencies/libki
	url = git@github.com:Joshsora/libki.git
[submodule "dependencies/pybind11"]
	path = dependencies/pybind11
	url = git@github.com:pybind/pybind11.git
